*, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  overflow: visible;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body.hideScroll::-webkit-scrollbar {
  display: none;
}

:root {
  --main-header-height: 88vh;
  --text-color: white;
  --color-background-dark: #222223;
  --top-value: 0;
}

body {
  background-color: #2c3a33;
}

h2 {
  font-family: "Playfair Display", serif;
  color: var(--text-color);
}

p {
  font-family: "Lato", sans-serif;
  color: var(--text-color);
}

@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.ttf);
}
.big-title {
  font-size: 2.9rem;
  margin-bottom: 1rem;
  max-width: 11ch;
  color: white;
}

.sobre-el-hotel {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: black;
  line-height: 1.5;
}

.sobre-el-hotel, p.text {
  color: #444;
}

.tarifas-section .big-title, .form-section .big-title, .map-section .big-title {
  margin-left: 1rem;
}

.container {
  min-width: 320px;
}

nav.scroll-visible {
  position: fixed;
  top: -500px;
  background-color: #2c3a33;
  color: white;
  border-bottom: none;
  border-bottom: 1px solid white;
}

nav.scroll-visible .menu {
  background-color: #2c3a33;
  color: white;
}

nav.scroll-visible.show {
  top: 0;
}
nav.scroll-visible.show h2 {
  color: white;
}

@media only screen and (min-width: 600px) {
  .big-title {
    font-size: 4.5rem;
    max-width: 11ch;
    margin-bottom: 2rem;
    font-family: "Lato-Bold", sans-serif;
  }
}
.nav-container {
  width: 100%;
  max-width: 2200px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  z-index: 10;
  transition: 1s ease;
  left: 50%;
  transform: translateX(-50%);
}
.nav-container.scroll-visible .nav .navigation-links .link a, .nav-container.scroll-visible .nav .navigation-links .link button {
  color: white;
}
.nav-container.scroll-visible .nav .navigation-links a {
  color: white;
}
.nav-container .nav {
  padding: 0.75rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1090px;
  margin: 0 auto;
}
.nav-container .nav .navigation-links a, .nav-container .nav .navigation-links .res-button {
  display: none;
}
.nav-container .nav .navigation-links a, .nav-container .nav .navigation-links button {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  transition: 1s ease;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.nav-container .nav .navigation-links a::after, .nav-container .nav .navigation-links button::after {
  content: "";
  width: 0px;
  height: 3px;
  background-color: #2f3f56;
  position: absolute;
  left: 0;
  top: 100%;
  transition: 0.3s ease-out;
}
.nav-container .nav h2 {
  color: white;
}
.nav-container .nav div.link:hover a::after, .nav-container .nav div.link:hover button::after {
  width: 100%;
}

.noHighlight {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

.page-container {
  background-color: #2c3a33;
}

@media only screen and (min-width: 1150px) {
  .nav-container .nav {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 600px) {
  .nav-container .nav .navigation-links {
    display: flex;
  }
}
@keyframes header-img {
  0% {
    background-image: url(../img/roraima.png);
  }
  30% {
    background-image: url(../img/28_6_18_portada_2.jpg);
  }
  60% {
    background-image: url(../img/aliviadero_del_embalse_macagua.webp);
  }
}
header {
  width: 100%;
  height: var(--main-header-height);
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .hero-header {
  width: 100%;
  height: var(--main-header-height);
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/avila-vertical.jpg);
  background-position-x: center;
  background-size: cover;
  background-position: 0 0;
  background-position-x: center;
  filter: brightness(0.7);
}
header picture {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: opacity(0.7);
}
header .landing-title {
  color: white;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
}
header .landing-title p {
  display: inline;
}
header .text-section {
  background-color: #2f3f56;
  color: white;
  padding: 2.5rem 0.75rem;
}
header .text-section h1 {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}
header .text-section p {
  font-size: 1.4rem;
}
header .arrow {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
header .arrow .arrow-img {
  height: 20px;
  width: 20px;
  cursor: pointer;
  filter: invert(1);
  transition: 0.3s ease;
}
header .arrow .arrow-img:hover {
  scale: 1.4;
  padding-top: 8px;
}

@media only screen and (orientation: landscape) {
  header {
    flex-direction: row;
    padding-bottom: 0;
  }
  header .landing-title {
    max-width: 15ch;
  }
  header .text-section {
    padding: 1.5rem 0.5rem;
  }
  header .hero-header {
    background-image: url(../img/Altamira,_La_Castellana_en_Caracas,_Venezuela.jpg);
    background-position: bottom;
  }
}
@media only screen and (orientation: landscape) and (min-width: 900px) {
  header .landing-title {
    font-size: 4rem;
  }
}
main {
  max-width: 1090px;
  margin: 0 auto;
}
main > * {
  padding: 0 1rem;
}

@media only screen and (min-width: 700px) {
  main > * {
    padding: 2.5rem;
  }
  main .tarifas-section .big-title, main .form-section .big-title, main .map-section .big-title {
    margin-left: 2.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  main > * {
    padding: 0rem;
  }
  main .tarifas-section .big-title, main .form-section .big-title, main .map-section .big-title {
    margin-left: 0rem;
  }
}
.img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.bienvenidos .bienvenidos-main-text {
  margin-bottom: 3rem;
  padding-top: 3rem;
}
.bienvenidos .bienvenidos-main-text > * {
  max-width: 540px;
  text-align: center;
  margin: 0 auto;
}
.bienvenidos .bienvenidos-main-text h2 {
  margin-bottom: 2rem;
  font-size: 32px;
}
.bienvenidos .bienvenidos-main-text p {
  font-size: 18px;
}
.bienvenidos .img {
  height: 600px;
}
.bienvenidos .bienvenidos-img-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.bienvenidos .bienvenidos-img-container .img {
  width: 100%;
  /* height: 300px; */
  /* max-height: 100%; */
  object-fit: cover;
  /* height: 300px; */
  height: 100%;
}

.lugar h2 {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

@media (min-width: 950px) {
  .lugar {
    display: grid;
    grid-template-columns: 35% auto;
    margin: 3rem 0;
  }
  .lugar .lugar-text-section {
    margin-left: 3rem;
    padding-top: 4rem;
  }
  .lugar .lugar-text-section h2 {
    font-size: 6rem;
    margin-left: -5rem;
  }
  .lugar .lugar-text-section p {
    margin-bottom: 1rem;
  }
  .lugar .lugar-text-section p:last-of-type {
    margin-bottom: 0;
  }
}
.habitaciones .habitaciones-card-container {
  padding: 1rem 0;
  overflow: hidden;
  width: calc(100vw - 2rem);
  margin-left: -1rem;
  touch-action: none;
  overflow: visible;
}
.habitaciones .habitaciones-card-container .habitacion-card-hero {
  display: flex;
  margin-top: 1rem;
  transition: 0.5s ease-in-out;
}
.habitaciones .habitaciones-card-container .habitacion-card {
  box-shadow: 0 11px 20px rgba(0, 0, 0, 0.38);
  margin-right: 1rem;
}
.habitaciones .habitaciones-card-container .habitacion-card img {
  width: 100%;
  aspect-ratio: 1/1;
  width: calc(100vw - 2rem);
}
.habitaciones .habitaciones-card-container .habitacion-card .habitacion-card-text {
  padding: 20px;
  color: white;
}
.habitaciones .habitaciones-card-container .habitacion-card .habitacion-card-text h3 {
  padding: 16px 0;
}
.habitaciones .habitaciones-card-container .carrousell-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  filter: invert(1);
}
.habitaciones .habitaciones-card-container .carrousell-arrow#next {
  right: 1rem;
}
.habitaciones .habitaciones-card-container .carrousell-arrow#previous {
  left: 1rem;
}

.name-section {
  display: none;
}

@media (min-width: 701px) {
  .habitaciones .habitaciones-card-container {
    width: calc(100vw - 6rem);
    margin-left: 0;
  }
  .habitaciones .habitaciones-card-container .habitacion-card-hero {
    margin-left: 0px;
    padding: 4rem;
  }
  .habitaciones .habitaciones-card-container .habitacion-card {
    position: absolute;
    box-shadow: none;
    width: calc(100% - 8rem);
  }
  .habitaciones .habitaciones-card-container .habitacion-card img {
    width: 100%;
  }
  .habitaciones .habitaciones-card-container .habitacion-card:first-of-type {
    position: relative;
    width: 100%;
  }
  .habitaciones .habitaciones-card-container .habitacion-card-text, .habitaciones .habitaciones-card-container .carrousell-arrow {
    display: none;
  }
}
@media (min-width: 701px) and (max-width: 949px) {
  .habitaciones aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 1rem;
    padding-top: 2rem;
  }
  .habitaciones aside .name:hover {
    color: black;
    cursor: pointer;
  }
  .habitaciones aside .name:hover p {
    color: black;
    font-weight: 600;
  }
}
@media (min-width: 950px) {
  .habitaciones {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .habitaciones .habitaciones-title {
    grid-row: 1;
    grid-column: 1/-1;
  }
  .habitaciones .name-section {
    grid-row: 2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .habitaciones .name-section .name p {
    text-align: center;
    font-size: 1.6rem;
    padding: 10px 20px;
    cursor: pointer;
  }
  .habitaciones .name-section .name p:hover {
    color: black;
  }
  .habitaciones .habitaciones-card-container {
    grid-row: 2;
    grid-column: 2/-1;
    width: 100%;
  }
  .habitaciones .habitacion-card {
    opacity: 0;
    transition: 0.5s ease-out;
  }
  .habitaciones .habitacion-card.display {
    opacity: 1;
  }
}
@media (min-width: 701px) {
  .habitaciones .habitacion-card {
    opacity: 0;
    transition: 0.5s ease-out;
  }
  .habitaciones .habitacion-card.display {
    opacity: 1;
  }
}
section.bullet-points {
  margin-top: 4rem;
}
section.bullet-points .bullets {
  overflow: hidden;
}
section.bullet-points .bullet {
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
section.bullet-points .circle, section.bullet-points .svg-circle {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border-radius: 50%;
}
section.bullet-points .subtext {
  color: gray;
  font-size: 0.8rem;
  margin: 1rem 0;
}
section.bullet-points .text {
  font-size: 1.3rem;
}
section.bullet-points .subtext, section.bullet-points .text {
  color: white;
}
section.bullet-points .review-photo {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media only screen and (orientation: landscape) and (min-width: 750px) {
  /*section.bullet-points{*/
  div.bullets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  div.bullets .bullet {
    height: fit-content;
  }
  div.bullets .bullet:nth-of-type(2) {
    margin-top: 4rem;
  }
  div.bullets .bullet:nth-of-type(3) {
    margin-top: 8rem;
  }
}
section.nuestros-espacios {
  margin-top: 4rem;
}
section.nuestros-espacios .colla {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media only screen and (orientation: landscape) {
  section.nuestros-espacios .espacios-imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
@media only screen and (min-width: 890px) {
  section.nuestros-espacios .espacios-imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-template-rows: 250px 250px 250px;
  }
  section.nuestros-espacios .espacios-imagenes img.colla {
    height: 100%;
  }
  section.nuestros-espacios img.colla:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  section.nuestros-espacios img.colla:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  section.nuestros-espacios img.colla:nth-of-type(3) {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  section.nuestros-espacios img.colla:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  section.nuestros-espacios img.colla:nth-of-type(5) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  section.nuestros-espacios img.colla:nth-of-type(6) {
    grid-column: 3/4;
    grid-row: 2/4;
  }
}
section.opiniones {
  margin: 4rem 0;
  padding: 0;
}
section.opiniones .opiniones-title {
  margin-bottom: 1.5rem;
}
section.opiniones .opinion {
  padding: 0.5rem;
}
section.opiniones .opinion .byline {
  color: gray;
}

section.contact-us {
  margin: 4rem 0;
  padding: 0;
}
section.contact-us h3 {
  text-align: center;
}
section.contact-us .tarifas-section {
  margin: 0.5rem 0;
}
section.contact-us .tarifas-section .tarifa {
  font-weight: 900;
  width: 100%;
  background-image: url(../img/img2.jpg);
  background-size: cover;
  background-position: center;
}
section.contact-us .tarifas-section .tarifa:nth-of-type(1) {
  background-image: url(../img/hotel-room.jpg);
}
section.contact-us .tarifas-section .tarifa:nth-of-type(2) {
  background-image: url(../img/140127103345-peninsula-shanghai-deluxe-mock-up.jpg);
}
section.contact-us .tarifas-section .tarifa:nth-of-type(3) {
  background-image: url(../img/hilton-memphis-cr-courtesy.webp);
}
section.contact-us .tarifas-section .tarifa .tarifa-text {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 4.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(63, 81, 181, 0.5882352941);
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
}
section.contact-us .tarifas-section .tarifa .tarifa-text .ocupantes {
  border: 2px solid white;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}
section.contact-us .tarifas-section .tarifa .tarifa-text .precio {
  font-weight: 800;
  font-size: 1.9rem;
}
section.contact-us .form-section {
  margin: 0.5rem 0;
}
section.contact-us .form-section .redes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section.contact-us .form-section .redes a {
  display: inline-block;
  padding: 2rem 0;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  background-color: pink;
  text-decoration: none;
  font-weight: 900;
  background-image: url(../img/img1.jpg);
  background-size: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
}
section.contact-us .form-section .redes a:nth-of-type(1) {
  background-image: url(../img/Cte_cachamay_aereo.jpg);
}
section.contact-us .form-section .redes a:nth-of-type(2) {
  background-image: url(../img/llovizna1.jpg);
}
section.contact-us .form-section .redes a:nth-of-type(3) {
  background-image: url(../img/1-1.png);
}

@media only screen and (min-width: 890px) {
  section.contact-us .info {
    margin-bottom: 4rem;
  }
  section.contact-us .tarifas-section .tarifas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
section.map-section {
  padding: 0;
}

footer {
  padding: 0;
  background-color: var(--color-background-dark);
}
footer .inside-footer {
  padding: 6rem 1rem;
  color: white;
}
footer .inside-footer .sobre-mi {
  margin-bottom: 2rem;
}
footer .inside-footer .sobre-mi-contactame p a.redes-link {
  text-decoration: none;
  color: white;
}
footer p, footer h2 {
  color: white;
}
footer h2 {
  font-size: 2.5rem;
  font-weight: 100;
}
footer form input {
  width: 100%;
  display: block;
  background-color: var(--color-background-dark);
  color: white;
}
footer form input[type=text], footer form input[type=email] {
  border: none;
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid rgb(228, 228, 228);
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}
footer form input[type=text]:focus, footer form input[type=email]:focus {
  outline-color: transparent;
  background-color: var(--color-background-dark);
  outline: none;
}
footer form input[type=submit] {
  background-color: black;
  border: none;
  color: white;
  border-radius: 1px solid black;
  padding: 1rem 1rem;
  cursor: pointer;
  font-weight: 700;
}
footer form label {
  width: 100%;
  display: block;
  position: relative;
}
footer form .input-placeholder {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 1rem;
  transition: 0.3s ease;
  color: rgb(182, 182, 182);
  color: white;
  pointer-events: none;
}
footer form input:focus + span, footer form input.username__input:valid + span {
  bottom: 100%;
  font-size: 55%;
  font-weight: 400;
}
footer .sobre-mi-contactame h2 {
  margin-bottom: 1rem;
}
footer .sobre-mi-contactame .group {
  margin-bottom: 1rem;
}

.page-button {
  background-color: transparent;
  border: 1px solid white;
  padding: 1rem 2rem;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 1rem;
}

@media only screen and (min-width: 1090px) {
  footer .inside-footer {
    max-width: 1090px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer .inside-footer .sobre-mi {
    grid-column: 1/2;
  }
  footer .inside-footer .sobre-mi-contactame {
    grid-column: 3/4;
  }
}
@keyframes loader {
  from {
    top: 0;
  }
  to {
    top: -100vh;
  }
}
.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
  animation: loader 1s ease-out forwards 2s;
}

.reserva {
  position: absolute;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 20;
  background-color: var(--color-background-dark);
  transition: 0.5s ease-in-out;
}
.reserva.show {
  top: var(--top-value);
}
.reserva * {
  color: white;
}
.reserva .form__reserva__container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}
.reserva form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reserva form label {
  display: flex;
}
.reserva form label input {
  flex-grow: 1;
}
.reserva form input {
  background: var(--color-background-dark);
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 1rem;
  border: navajowhite;
  border-bottom: 2px solid white;
  cursor: pointer;
}
.reserva form button {
  cursor: pointer;
}
.reserva nav button {
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  cursor: pointer;
}

@keyframes letters {
  0% {
    top: 4rem;
  }
  100% {
    top: 0rem;
  }
}
.parentSpan {
  display: inline-block;
  overflow: hidden;
  font-family: inherit;
}
.parentSpan .innerSpan {
  font-family: inherit;
  position: relative;
  top: 4rem;
  animation: letters 0.5s ease-in-out forwards;
}

section.habitaciones {
  overflow-x: hidden;
}

.restaurant-page {
  text-align: center;
}
.restaurant-page .general-header {
  font-size: 32px;
  color: white;
  margin-bottom: 1rem;
}
.restaurant-page .subtext {
  padding: 1rem 0;
  max-width: 400px;
  margin: 0 auto;
}
.restaurant-page .horario {
  display: grid;
  max-width: 500px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 1rem 0;
  border-bottom: 1px solid white;
}
.restaurant-page .horario .horario-nombre {
  text-align: left;
  color: white;
}
.restaurant-page .horario .horario-descripcion {
  text-align: right;
}
.restaurant-page .horario .horario-descripcion-elemento:nth-of-type(2) {
  margin-top: 1rem;
}
.restaurant-page .menus-section-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.restaurant-page .menus-section-options .menu-section-option {
  aspect-ratio: 2/1;
  position: relative;
}
.restaurant-page .menus-section-options .menu-section-option .menu-section-option-header {
  text-align: left;
  padding: 1rem;
  font-size: clamp(1.25rem, 1.0227rem + 0.6061vw, 1.75rem);
}
.restaurant-page .menus-section-options .menu-section-option .background-img {
  background-image: url(../img/rest1.jpg);
  background-size: 100%;
  background-position: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.6);
  height: 100%;
}

.logo-link {
  font-family: "Playfair Display", serif;
  color: white;
  text-decoration: none;
}

@media (min-width: 850px) {
  section.general-description-section {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 2rem;
    padding: 4rem 0;
  }
  .menus-section-header {
    margin-bottom: 2rem;
  }
  .menus-section {
    margin-bottom: 2rem;
  }
}
.button-three {
  --button-color: white;
  overflow: hidden;
  background: transparent;
  border: none;
}

.button-three .hamburger {
  transition: translate 1s, rotate 1s;
}

.button-three[aria-expanded=true] .hamburger {
  translate: 3px -1px;
  rotate: 0.125turn;
}

.button-three .line {
  transition: 1s;
  stroke-dasharray: 60 31 60 300;
}

.button-three[aria-expanded=true] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

@media (min-width: 600px) {
  .button-three {
    display: none;
  }
}
@keyframes slider-up {
  0% {
    top: 2rem;
  }
  100% {
    top: 0;
  }
}
.navbar-extended {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.navbar-extended[data-state=opened] {
  display: flex;
  animation: 0.5s slider-up ease forwards;
}
.navbar-extended[data-state=opened] .fadel__son {
  animation: letters 0.3s ease-in-out forwards;
}
.navbar-extended a, .navbar-extended button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.navbar-extended .link:first-of-type {
  margin-bottom: 1rem;
}
.navbar-extended .fadel {
  overflow: hidden;
}

.fadel {
  overflow: hidden;
  display: block;
}
.fadel__son {
  top: 3rem;
}

/*# sourceMappingURL=style.css.map */
